/*================== Simplify Macish Colorful for Firefox ==================
Author: dpcdpc11.deviantart.com
Use it with my Simplify 10 Macish - Windows 10 Theme: https://gumroad.com/l/KpFhK
ENJOY!
*/


/*================== TITLE BAR ==================*/
#titlebar #TabsToolbar {
	background: #f0f0f0 !important;
}

.titlebar-button {
	transition: all 0.3s ease !important;
    background: #f0f0f0 !important;
}

.titlebar-button > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
    stroke: #FFFFFF !important;
}
.titlebar-button.titlebar-min > .toolbarbutton-icon {
    stroke: #24D131 !important;
}
.titlebar-button.titlebar-max > .toolbarbutton-icon {
    stroke: #FCB90F !important;
}
.titlebar-button.titlebar-close > .toolbarbutton-icon {
    stroke: #FA3737 !important;
}
.titlebar-button:hover {
    background-color: #f0f0f0 !important;
}
.titlebar-button.titlebar-close:hover {
	background-color: #f0f0f0 !important;
}
.titlebar-button.titlebar-min:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-max:hover > .toolbarbutton-icon,
.titlebar-button.titlebar-close:hover > .toolbarbutton-icon {
    stroke: #525252 !important;
}

#nav-bar {
    box-shadow: none !important;
}

.tab-line[selected="true"] {
    background-color: #525252 !important;
}
.tab-line {
    height: 4px !important;
}

#tabbrowser-tabs:not([movingtab]) > .tabbrowser-tab[beforeselected-visible]::after, #tabbrowser-tabs[movingtab] > .tabbrowser-tab[visuallyselected]::before, .tabbrowser-tab[visuallyselected]::after {
    opacity: 0 !important;
}

.tabbrowser-tab:not([visuallyselected="true"]), .tabbrowser-tab:-moz-lwtheme {
    color: #525252 !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: 0 !important;
    opacity: 0 !important;
}

#tabs-newtab-button {
	transition: all 0.3s ease !important;
    fill: #525252 !important;
}
#tabs-newtab-button:hover {
    fill: #FFFFFF !important;
}

toolbar #tabs-newtab-button:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
}
toolbar #tabs-newtab-button:hover:not([disabled="true"]):not([checked]):not([open]):not(:active) > .toolbarbutton-icon {
	background-color: #525252 !important;
	border-radius: 0 !important;
}

.close-icon > .button-icon, .close-icon > .button-box > .button-icon, .close-icon > .toolbarbutton-icon {
	transition: all 0.3s ease !important;
    border-radius: 0 !important;
}

.tabbrowser-tab > .tab-stack > .tab-background:not([selected="true"]) {
	transition: all 0.3s ease !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"]) {
    background-color: #DEDEDE !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected="true"]) {
    opacity: 0 !important;
}
tab[selected="true"] .tab-content {
	color: #525252 !important;
}

.titlebar-spacer[type="pre-tabs"] {
	border: 0 !important;
}